@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Super Amazingly Simple Ticketing System Gen.1</h1>
    <p class="lead">SWEET is a support ticketing system stil in development designed to allow users to receive help from employees in a simple and effective manner.</p>
    <p><a href="~/Account/Login" class="btn btn-primary btn-lg">Log in &raquo;</a></p>
</div>

